{
    "main": {
        "alignTrailingComments": true,
        "breakBeforeBraces": true,
        "indentWidth": 2,
        "columnLimit": 120,
        "minEmptyLines": 0,
        "maxEmptyLinesToKeep": 1,
        "reflowComments": false,
        "useTab": false,
        "allowShortRulesOnASingleLine": true,
        "allowShortBlocksOnASingleLine": true,
        "singleLineOverrulesHangingColon": true,
        "alignSemicolons": "none",
        "alignColons": "hanging"
    },
    "lexer": {
        "alignTrailingComments": true,
        "columnLimit": 120,
        "indentWidth": 2,
        "maxEmptyLinesToKeep": 1,
        "reflowComments": false,
        "useTab": false,
        "allowShortRulesOnASingleLine": true,
        "allowShortBlocksOnASingleLine": true,
        "minEmptyLines": 0,
        "alignSemicolons": "none",
        "alignColons": "trailing",
        "singleLineOverrulesHangingColon": true,
        "alignLexerCommands": true,
        "alignLabels": true,
        "alignTrailers": true
    }
}